<template>
  <div class="pages">
    <div class="container">
      <h1 class="mb-5">Trivia Quiz</h1>
      <div class="mb-3">
        <h3>{{ question[currentQuestion] }}</h3>
        <br />
        <h4>
          <div v-if="type[currentQuestion] == 'multiple'">
            <div class="choicebox">
              <label for="one">{{ answers[currentQuestion][0].answer }}</label>
              <input
                type="radio"
                id="one"
                value="0"
                v-model="checkedNames"
                @click="sendAnswer"
              />

              <br />
              <label for="two">{{ answers[currentQuestion][1].answer }}</label>
              <input
                type="radio"
                id="two"
                value="1"
                v-model="checkedNames"
                @click="sendAnswer"
              />

              <br />

              <label for="three">{{
                answers[currentQuestion][2].answer
              }}</label>
              <input
                type="radio"
                id="three"
                value="2"
                v-model="checkedNames"
                @click="sendAnswer"
              />

              <br />
              <label for="four">
                {{ answers[currentQuestion][3].answer }}</label
              >
              <input
                type="radio"
                id="four"
                value="3"
                v-model="checkedNames"
                @click="sendAnswer"
              />
              <br />
            </div>
          </div>
          <div v-if="type[currentQuestion] == 'boolean'">
            <div class="choicebox">
              <input
                type="radio"
                id="one"
                value="0"
                v-model="checkedNames"
                @click="sendAnswer"
              />
              <label for="one">{{ answers[currentQuestion][0].answer }}</label>
              <br />
              <input
                type="radio"
                id="two"
                value="1"
                v-model="checkedNames"
                @click="sendAnswer"
              />
              <label for="two">{{ answers[currentQuestion][1].answer }}</label>
              <br />
            </div>
          </div>
        </h4>
        Score: {{ score * 10 }}/{{ question.length * 10 }}
        <div v-if="currentQuestion >= question.length">
          <button class="btn btn-primary" @click="showResults">
            Show Results
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Quiz",
  data() {
    return {
      checkedNames: 0,
    };
  },
  methods: {
    sendAnswer() {
      this.$store.dispatch(
        "sendAnswer",
        this.answers[this.currentQuestion][this.checkedNames]
      );
      
      
    },
    showResults() {
      this.$router.push("/ScoreScreen");
    },
  },
  computed: {
    question() {
      return this.$store.state.questions;
    },
    answers() {
      return this.$store.state.finalArray;
    },
    type() {
      return this.$store.state.question_types;
    },
    currentQuestion() {
      return this.$store.state.currentQuestion;
    },
    score() {
      return this.$store.state.score;
    },
    categories() {
      // Return categories from state
      return this.$store.state.categories;
    },
    currentCategory() {
      // Return categories from state
      return this.$store.state.currentCategory;
    },
  },
};
</script>

<style></style>
