<template>
  <div>
    <header>
      <h1 class="mb-5">Trivia Quiz</h1>
    </header>
    <div class="container">
      <div class="pages">
        <div class="mb-3">
          <h1>Your score was {{ score * 10 }}/{{ questions.length * 10 }}!</h1>
          <button class="btn btn-primary" @click="restart">New Game</button>
          <ul>
            <li v-for="q in questions" :key="q.id" :value="q.id">
              {{ q }}
            </li>
          </ul>
          <br />
          You answered: {{ userAnswers }}
          <br />
          Correct Answers were: {{ correctAnswers }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    restart() {
      this.$router.push("/");
    },
  },
  computed: {
    score() {
      return this.$store.state.score;
    },
    questions() {
      return this.$store.state.questions;
    },
    userAnswers() {
      return this.$store.state.userAnswers;
    },
    correctAnswers() {
      return this.$store.state.correctAnswers;
    },
  },
};
</script>

<style></style>
