<template>
  <div id="app" class="pages">
    <header>
      <h1 class="mb-5">Trivia Quiz</h1>
    </header>
    <div class="pages">
      <div class="container">
        <div class="mb-3">
          <fieldset class="mb-3">
            Select Category:
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              v-model="selectedCategory"
            >
              <option
                v-for="category in categories"
                :key="category.id"
                :value="category.id"
              >
                {{ category.name }}
              </option>
            </select>
          </fieldset>
        </div>

        <div>
          Select difficulty:

          <select class="form-select" v-model="selected">
            <option
              v-for="difficulty in difficulties"
              :value="difficulty.ID"
              :key="difficulty.ID"
            >
              {{ difficulty.difficulty }}
            </option>
          </select>
          Number of questions:
          <input type="text" v-model="numberOfQuestions" placeholder="10" />
        </div>

        <button class="btn btn-primary" @click="startQuiz">Start Quiz</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      toggle: false,
    };
  },
  methods: {
    startQuiz() {
      this.$store.dispatch("startQuiz");
      this.$router.push("/Quiz");
    },
    decrement() {
      this.$store.commit("decrement");
    },
  },
  created() {
    this.$store.dispatch("loadCategories");
  },
  computed: {
    selected: {
      //getter
      get() {
        return this.$store.state.selectedDifficulty.id;
      },
      //setter
      set(value) {
        this.$store.commit("setDifficulty", value);
      },
    },
    selectedCategory: {
      //getter
      get() {
        return this.$store.state.currentCategory;
      },
      //setter
      set(value) {
        this.$store.commit("setCategory", value);
      },
    },
    numberOfQuestions: {
      get() {
        return this.$store.state.quizLength;
      },
      set(value) {
        this.$store.commit("numberOfQuestions", value);
      },
    },
    difficulties() {
      //return difficulties from state store
      return this.$store.state.difficulties;
    },
    categories() {
      // Return categories from state
      return this.$store.state.categories;
    },
    currentCategory() {
      return this.$store.state.currentCategory;
    },
  },
};
</script>

<style></style>
