tml{
    min-height: 100%;
  }


input[type=radio] {
  width: -100px; height: -500;
  display: inline;
  visibility: hidden;
}

label { 
	cursor: pointer; 
	font-weight: 400;
}
label:hover, label:active, input:hover+label, input:active+label {
  background:rgba(255, 0, 0, 0.4);
}


  #app{
	background-color: aquamarine;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  }
  body {
    padding: 0px;
    padding-left: 500;
    max-width: 90%;
    margin: 0 auto;
    overflow: auto;
    font-family: Arial;
    color:black;
    font-size: 30px;
    background: linear-gradient(-45deg, #5e76df, #5698f0, #237fd5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 50s ease infinite;
    -moz-animation: Gradient 50s ease infinite ;
    animation: Gradient 50s ease infinite ;
    animation-duration : 25s;
  }
  
  .paused {
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
  }
  
  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  h1,
  h6 {
    font-family: 'Verdana';
    font-weight: 300;
    text-align: center;
    top: 45%;
    right: 0;
    left: 0;
    }
  
    p{
      font-size: 27px;
      font-family: 'Arial';
    }
  ul.header li {
    display: inline;
    list-style-type: none;
  }
  ul.header {
    padding: 0;
    justify-content: center;  
  }
  ul.header li a {
    margin: 0 auto;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .container{
    text-align: center;
  }
  .active {
    background-color: rgba(0, 0, 0, 0.267);
    color: black;
    text-decoration-line: underline;
  }
  .pages {
    background: linear-gradient(-45deg, #ee76527a, #e73c7e73, #23a5d55b, #23D5AB);
    border: solid;
    border-width: 2px;
    box-shadow: 5px 10px;
    font-size: 21px;
    margin: 0 auto;
    width: 90%;
    padding-top: 5%;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  
  .copyright {
    text-align: right;
    font-size: 14px;
  }
